<!DOCTYPE html>
<html>
  <head>
    <title>bman - man in the browser</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <div class="container">
      <form id="search" method="get" action="/search">
        <input type="text" name="q">
        <input type="submit" value="search">
      </form>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
